@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 90vw;
        
    }

    #login > div#imagem {
        float: left; /*Mantém a imagem à esquerda em telas como a de tablets (telas com até o máximo de 992px)*/
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right; /* Mantém o formulário a direita em telas como a de tablets (em telas até o máximo de 992px)*/
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #522470);
    }

    #login {
        width: 950px
    }

    #login > div#imagem {
        float: right; /*Faz com que a imagem vá para a direita assim que a tela aumentar, ou ser aberta em telas grandes*/
        width: 50%;
        height: 100%;
    }

    #login > div#formulario {
        float: left; /*Faz com que o formulário vá para a esquerda quando aumentar a tela, ou quando for aberto em telas grandes*/
        width: 50%;
    }

    #formulario > h1 {
        font-size: 2em;;
    }

     #formulario > p {
        font-size: 1.2em;
   }
}